body { 
    margin: 0;
}

#head{
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top:50px ;
    justify-content: center;
    flex-direction: row;
    min-height: 100vh;
    background-image: url(cal_body_background.png);
    background-size: cover;
    overflow-x: hidden;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
#title{
    flex:1 1 50%;
    margin: 0;
    width: auto;
    padding: 3px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
/* animation: animate 20s linear infinite; */
}
#title p{
    font-size: 1.2em;
    font-weight:bold;
}

#buttons{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;     
    justify-content: center;
    width: 360px;
    gap:20px;
    box-sizing: border-box;
    padding-bottom: 40px;
    margin: 30px;
}

#buttons a{
    color: black;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 14px 22px;
    flex-wrap: wrap;
    min-width:60px;
    border: none;
    border-radius: 40px;

    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    
    border-top: 1px solid rgba(255, 255, 255, 0.397);
    border-left: 1px solid rgba(255, 255, 255, 0.363);
    background-size: 250% 100%;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
#buttons a:hover{
    transform: translateY(-6px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.50);
}



@media (max-width: 768px) {
    #head{
        flex-direction: column;
        align-items:center;
        justify-content: center;
        padding-top: 28px;
        gap: 28px;
    }
    #title{
        text-align: center;
        flex: none;
        width: 100%;
        padding:8px;
    }
    #buttons{
        width: min(92%, 420px);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    #buttons a {
        width: 100%;
        padding: 12px 16px;
        border-radius: 28px;
        background: rgba(0, 0, 0, 0.15);
        font-size: 20px;
        backdrop-filter: blur(10px);
        border-top: 1px solid rgba(255, 255, 255, 0.397);
        border-left: 1px solid rgba(255, 255, 255, 0.363);
        
        /* background-color: black ; */
    } 
}