* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Consolas, "Courier New", monospace;
}

#head {
    min-height: 100vh;
    width: 100%;
    padding: 40px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 60px;

    background-image: url(cal_body_background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.glass {
    background: rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);

    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.35);

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.28),
        inset 0 1px 0 rgba(255, 255, 255, 0.35);
}

#title {
    padding: 40px;
}

#title {
    background: rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);

    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.35);

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.28),
        inset 0 1px 0 rgba(255, 255, 255, 0.35);
}

#title p {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    text-align:left;
}

#buttons {
    width: 360px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#buttons {
    background: rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);

    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.35);

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.28),
        inset 0 1px 0 rgba(255, 255, 255, 0.35);
}

#buttons a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;

    padding: 14px 22px;
    border-radius: 30px;

    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.32);
    box-shadow:
        0 10px 20px rgba(0,0,0,0.28),
        inset 0 1px 0 rgba(255,255,255,0.35);

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

#buttons a:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.45);
}

@media (max-width: 768px) {
    #head {
        flex-direction: column;
        gap: 32px;
    }

    #title,
    #buttons {
        width: 100%;
        max-width: 420px;
    }

    #title p {
        font-size: 36px;
    }
}
