#head{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
    flex-wrap: wrap;
    height:100vh;
    background-image: url(cal_body_background.png);
    background-size: cover;
    overflow-x: hidden;
    background-repeat: no-repeat;
}
#title{
    font-size: 8em;
    padding: 3px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    border-radius: 30px;/
    background-size: cover;
    background-clip: text;
    color: rgb(0, 0, 0);
/* animation: animate 20s linear infinite; */
}
#title p{
    font-size: 1.2em;
    font-weight:bold;
}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-wrap:wrap;

}
#buttons a{
    color: black;
    display: flex;
    align-items: center;
    justify-content:center ;
    text-decoration: none;
    padding: 1rem;
    width: 350px;
    flex:1 1 20%;
    flex-wrap: wrap;
    min-width:60px;
    border: none;
    border-radius: 25px;

    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    
    border-top: 1px solid rgba(255, 255, 255, 0.397);
    border-left: 1px solid rgba(255, 255, 255, 0.363);
    background-size: 250% 100%;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
#buttons a:hover{
    transform: translateY(-6px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.50);
}










@media (max_width:800px){
    #head{
        gap:0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    #title{
        margin: 0 0 0 0;
    }
    
}