body{
    margin: 0;
}
html, body {
    height: 100%;
}

h1{
    text-align: center;
    margin: 0;
}
#head{
    min-height: 100%;
    height: auto;
    margin: 0;
    background-color: #89CFC0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:5px;
}
#title{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    border-radius: 30px;
}
#inputs input{
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    border: none;
    text-align: center;
    min-height: 40px;
    min-width: 16.6em;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    
    border-top: 1px solid rgba(255, 255, 255, 0.397);
    border-left: 1px solid rgba(255, 255, 255, 0.363);
    transition: box-shadow 0.3s ease;
}
input::placeholder{
    color: black;
}
input:focus{
    outline: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.50);
}

textarea:focus{
    outline: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.50);
}

#results textarea{
    padding: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 30px;
    border: none;
    text-align: center;
    min-height: 40px;
    color: rgba(0, 0, 0, 0.867);
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    
    border-top: 1px solid rgba(255, 255, 255, 0.397);
    border-left: 1px solid rgba(255, 255, 255, 0.363);
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
#buttons{
    display: flex;
    flex-direction: row;
    gap:15px
}
#buttons button{
    min-width: 8em;
    min-height: 40px;
    border-radius: 30px;
    border: none;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.397);
    border-left: 1px solid rgba(255, 255, 255, 0.363);
    background-size: 250% 100%;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
button:hover{
    /* transform: translateY(-6px); */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.50);

}